@import '../config';

.about {
  .container {
    display: grid;
    background: $neutral-color-3;
  }

  &-col {
    padding: 2rem;
  }

  @include media-lg {
    .container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &-col {
      padding: 2rem 2.5rem;
    }

    &-col-2 {
      line-height: 0;

      img {
        object-fit: cover;
      }
    }
  }
}
