@import '../config';

footer {
  background-color: $secondary-color;
  color: $neutral-color-1;

  font-size: 0.95rem;

  a {
    color: $neutral-color-1;
    @include transition-ease;

    &:hover,
    &:active {
      color: $neutral-color-2;
      transform: translateX(0.25rem);
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'logoinfo logoinfo' 'link1 link2' 'social social';
    padding: 2.5rem 0 2rem;

    &-col {
      margin: 1rem 0;

      &-list-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .active > a {
        color: $neutral-color-2;
        transform: translateX(0.25rem);
      }

      &-title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        color: $neutral-color-1;
      }

      &-text {
        margin-bottom: 1rem;
      }

      &-social {
        display: flex;
        gap: 1rem;
      }

      &-notice {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;

        &-item {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    &-col:nth-of-type(1) {
      grid-area: logoinfo;
    }
    &-col:nth-of-type(2) {
      grid-area: link1;
    }
    &-col:nth-of-type(3) {
      grid-area: link2;
    }
    &-col:nth-of-type(4) {
      grid-area: social;
    }

    &-logo {
      width: 80%;
      margin-bottom: 1rem;
    }
  }

  .copyright {
    padding: 1rem 0 0.5rem;
    background-color: $secondary-color-2;
  }
}

// min-width: 768px
@include media-md {
  footer {
    .footer {
      padding: 4rem 0 2rem;

      &-col-notice {
        flex-direction: row;
        gap: 4rem;

        &-item {
          font-size: 0.9rem;
          margin-bottom: 0;
        }
      }
    }

    .copyright {
      display: flex;
    }
  }
}

// min-width: 1024px
@include media-lg {
  footer {
    font-size: 1rem;
    letter-spacing: 0.5px;

    .footer {
      gap: 4rem;
      padding: 6rem 0 3rem;
      grid-template-columns: 1.25fr 1fr 1fr 1.25fr;
      grid-template-areas: 'logoinfo link1 link2 social';

      &-col {
        margin: 0;

        &-list-item {
          margin-bottom: 0.5rem;

          & > i {
            margin-right: 0.25rem;
          }
        }

        &-title {
          font-size: 1.35rem;
          margin-bottom: 2rem;
        }

        &-text {
          margin-bottom: 1.5rem;
        }

        &-notice-item {
          font-size: 1rem;
        }

        &-social {
          gap: 2rem;

          &-item {
            transform: scale(1.25);
          }
        }
      }

      &-logo {
        margin-bottom: 2.25rem;
      }
    }
    .copyright {
      padding: 1rem 0;
    }
  }
}
