@import '../config';

header {
  .menu {
    position: fixed;
    display: grid;
    background: white;
    height: 100vh;
    width: 80vw;
    right: 0;
    color: $secondary-color;
    padding: 2rem 0;
    transform: translateX(100%);
    @include transition-ease;
    z-index: 100;

    @include media-md {
      width: 50vw;
    }

    .container {
      position: relative;
    }

    &-nav-logo {
      text-align: left;
      width: 50%;
    }

    &-list {
      padding: 2rem 0 0;
      text-align: left;
      font-family: $ff-primary;
      font-size: 1.25rem;
      font-weight: 600;

      &-item {
        padding: 0.75rem 0;
        border-bottom: 1px solid $neutral-color-3;
      }

      a {
        color: $secondary-color;
      }
    }

    &-social {
      display: flex;
      padding-top: 3rem;

      &-item {
        margin-right: 1.5rem;

        a {
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }

    &-contact {
      padding: 2rem 0 0;
      font-family: $ff-secondary;
      font-size: 0.8rem;

      &-item {
        color: $secondary-color;
        margin-bottom: 0.5rem;
      }

      a {
        color: $secondary-color;
      }
    }

    &-close {
      position: absolute;
      top: 0.5rem;
      right: 0;
      font-size: 2rem;
      z-index: 100;
    }
  }

  .mobile {
    padding: 1rem 0;

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      position: relative;
      width: 35%;
      z-index: 100;

      @include media-md {
        width: 25%;
      }
    }

    &-burger {
      font-size: 2rem;
      z-index: 100;
      color: $secondary-color;
    }
  }

  .nav {
    display: none;
  }

  .active {
    transform: translateX(0);
  }
}

@include media-lg {
  header {
    .menu {
      display: none;
    }

    .mobile {
      display: none;
    }

    .nav {
      display: block;

      &-top {
        background-color: $secondary-color;
        padding: 0.75rem 0;

        .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &-col-links {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 0.75rem;
          color: $neutral-color-3;

          .icon {
            color: $primary-color;
            margin-right: 0.25rem;
          }

          a {
            color: $neutral-color-3;
          }
        }

        &-col-social {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          font-size: 1.25rem;
          color: $neutral-color-1;

          li {
            line-height: 0;

            a {
              color: $neutral-color-1;
              line-height: 1;
            }
          }
        }
      }

      &-bottom {
        padding: 1rem 0;

        .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .menu-nav {
          display: flex;

          &-item {
            margin-left: 1.5rem;
            font-family: $ff-primary;
            font-weight: 600;
            font-size: 1.25rem;

            a {
              color: $secondary-color;

              &:active,
              &:hover {
                color: $primary-color;
              }
            }
          }
        }

        &-logo {
          width: 60%;
        }
      }
    }
  }
}
