@import '../config';

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;
  @include transition-ease;

  .menu {
    position: fixed;
    display: grid;
    background: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    color: $secondary-color;
    padding: 1rem 0 0;
    transform: translateX(100%);
    @include transition-ease;
    z-index: 100;

    @include media-md {
      width: 70vw;
    }

    .container {
      position: relative;
    }

    &-nav-logo {
      text-align: left;
      width: 35%;
    }

    &-list {
      // padding: 1rem 0 0;
      text-align: left;
      font-family: $ff-primary;
      font-size: 1.25rem;
      font-weight: 500;

      &-item {
        padding: 0.65rem 0;
        border-bottom: 1px solid $neutral-color-3;
      }

      a {
        color: $secondary-color;
      }
    }

    &-social {
      display: flex;
      padding-top: 1.25rem;

      &-item {
        margin-right: 1.5rem;

        a {
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }

    &-contact {
      padding: 1rem 0 0;
      font-family: $ff-secondary;
      font-size: 0.8rem;

      &-item {
        color: $secondary-color;
        margin-bottom: 0.5rem;
      }

      a {
        color: $secondary-color;
      }
    }

    &-close {
      position: absolute;
      top: 0.5rem;
      right: 0;
      font-size: 2rem;
      z-index: 100;
    }
  }

  .mobile {
    padding: 1.5rem 0;

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      position: relative;
      width: 35%;
      z-index: 100;
      line-height: 0;
    }

    &-burger {
      font-size: 2rem;
      z-index: 100;
      color: $secondary-color;
      cursor: pointer;
      line-height: 0;
    }
  }

  .nav {
    display: none;
  }

  .active {
    transform: translateX(0);
  }
}

@include media-lg {
  header {
    background-color: transparent;
    position: relative;
    top: 0;

    .menu {
      display: none;
    }

    .mobile {
      display: none;
    }

    .nav {
      display: block;

      &-top {
        background-color: $secondary-color;
        padding: 0.5rem 0;

        .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &-col-links {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 0.75rem;
          color: $neutral-color-3;

          .icon {
            color: $primary-color;
            margin-right: 0.25rem;
          }

          a {
            color: $neutral-color-3;
          }
        }

        &-col-social {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          font-size: 1.25rem;
          color: $neutral-color-1;

          li {
            line-height: 0;

            a {
              color: $neutral-color-1;
              line-height: 1;
            }
          }
        }
      }

      &-bottom {
        width: 90vw;
        padding: 1.25rem 0;
        position: absolute;
        left: 50%;
        bottom: -5.8rem;
        transform: translateX(-50%);
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-radius: 5px;
        @include transition-ease;

        .container {
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .menu-nav {
          display: flex;
          align-items: center;

          &-item {
            margin-left: 1.5rem;
            font-family: $ff-primary;
            font-weight: 600;
            font-size: 1.25rem;

            a {
              color: $secondary-color;

              &:active,
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        &-logo {
          line-height: 0;

          img {
            width: 45%;
          }
        }
      }

      .fixed-nav {
        padding: 1rem 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        border-radius: unset;
        bottom: unset;
        transform: unset;
        @include transition-ease;
        animation: slideDown 0.5s ease-in-out;
        box-shadow: $dark-shadow;
        background-color: rgba($secondary-color, $alpha: 0.95);

        .container {
          width: 85%;
        }

        a {
          color: white;
        }
      }
    }
  }
}

.no-overflow {
  height: 100vh;
  overflow: hidden;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    // transform: translateY(-400%);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}
