@import '../config';

.experts {
  text-align: center;

  //   Expert grid component
  &-grid {
    display: grid;
    gap: 2rem;
    padding: 2rem 0;

    @include media-lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // Single expert Component
  &-box {
    &-img {
      position: relative;
      margin: 0;
      padding: 0;
      line-height: 0;
    }

    .social-links {
      position: absolute;
      display: flex;
      justify-content: center;
      background-color: rgba($primary-color, $alpha: 0.9);
      bottom: 0;
      left: 50%;
      // padding: 1rem;
      transform: translate(-50%, 100%);
      opacity: 0;
      @include transition-ease;

      li {
        font-size: 2rem;
        line-height: 0;

        a {
          color: $secondary-color;
          padding: 0.5rem 1rem;
          @include transition-ease;

          &:hover {
            color: $neutral-color-3;
            background-color: $secondary-color;
          }
        }
      }
    }
    &:hover .social-links {
      transform: translate(-50%, 0);
      opacity: 1;
    }

    &-info {
      position: relative;
      padding: 2rem 0 1rem;
      background-color: $secondary-color;
      color: $neutral-color-3;
      z-index: 5;

      h4 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
  }
}
