@import '../config';

.practice-areas {
  position: relative;
  background-image: url(../../images/service-image.jpg);
  color: $neutral-color-3;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($secondary-color, $alpha: 0.95);
  }

  &-grid {
    position: relative;
    z-index: 1;

    @include media-lg {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 3rem;
      align-items: center;
    }
  }

  &-services {
    padding: 1rem 0;

    @include media-md {
      padding: unset;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    ul {
      li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        font-family: $ff-primary;
        gap: 1rem;
        background-color: $secondary-color;
        border: 1px solid rgba($primary-color, $alpha: 0.75);
        border-left: transparent;
        margin: 1rem 0;
        cursor: pointer;
        @include transition-ease;

        .icon {
          background-color: rgba($primary-color, $alpha: 0.75);
          padding: 0.75rem;
          font-size: 3.5rem;
          color: $secondary-color;
          @include transition-ease;

          @include media-lg {
            padding: 1rem;
            font-size: 4rem;
          }
        }

        span {
          @include transition-ease;

          @include media-lg {
            font-size: 1.25rem;
          }
        }

        &:hover {
          background-color: rgba($primary-color, $alpha: 0.75);
          border: 1px solid rgba($secondary-color, $alpha: 1);
          border-left: none;

          .icon {
            background-color: $secondary-color;
            color: $primary-color;
          }

          span {
            transform: translateX(0.5rem);
            color: $secondary-color;
            font-weight: 700;
          }
        }
      }
    }
  }

  .cta-p {
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    text-align: center;

    .btn {
      &:hover {
        background-color: $neutral-color-3;
        color: $secondary-color;
      }
    }
  }
}
