@import '../config';

.services-grid {
  background: $secondary-color;

  @include media-lg {
    padding: 6rem 0;
  }

  .container {
    display: grid;
    gap: 2rem;

    @include media-lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
