@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Karla&display=swap');

$primary-color: #ffc024;
$secondary-color: #1f2839;
$secondary-color-2: #263043;
$text-color: #444444;
$neutral-color-1: #8d99ae;
$neutral-color-2: #edf2f4;
$neutral-color-3: #f0f0f0;
$ff-primary: 'Cinzel', serif;
$ff-secondary: 'Karla', sans-serif;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

// Transition
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

// Media Queries
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
